.menu{
	background-color: #03a9f4;
}
.contenedor{
	
	height: 2000px;
	margin: 0px;
}
.contenido{
	background-image: url(img/fondo.jpg);
	background-size:100%100%;
	margin: 0px;
	padding-top: 9%;
	padding-bottom: 9%;
	height: 2000px;
}

.card{
	padding-right: 0px;
	padding-left: 0px;
}
.card-content{
	background-color: #03a9f4;
	color:#fff;
	text-align: center;
}
.footer-copyright{
	color:#fff;
	text-align: center;
}
.card-action{
	background-color: #fff;
}
.footer .row{
    margin-bottom: 20px;
}
.final{
    height: 40px;
    background-color: #03a9f4;
}
.sidenav-header{
	background-color: #03a9f4;

}
.borde{
	height: 10px;
	background-color: #03a9f4;
}

.si{display:none;}