{% extends "ejemplo.html" %} 
 {% block content %}
 <link rel="stylesheet" href="{{ STATIC_URL}}css/factura.css">
	<div class="contenido row" style="background-image: url({{ STATIC_URL}}img/fondo.jpg); background-size:100%100%; margin: 0px; ">
		
     
    <div class="col s12 m3 l4"></div>
        <div class="card col s12 m6 l4 z-depth-5" style="padding-right: 0px;
	padding-left: 0px;">
        	<div class="card-content z-depth-5">
        		<span class="card-title">Agregar Vencimiento</span> 
        	</div>
            		<div class="card-action z-depth-5">
            			<form method="post" class="form">{% csrf_token %}
         <div class="log row">
        <div class="input-field">
    <input id="nombre" name="nombre" type="text" class="validate" required>
     <label for="nombre">Nombre</label>
       </div>
      </div>
         <div class="log row">
        <div class="input-field" >
      <input id="vencimiento" name="vencimiento" type="text" class="datepicker" >
      <label for="vencimiento" center>Fecha de Vencimiento</label>
      </div>
      </div>
 <div class="log row">
      <div class="input-field">
    <select name="esMensual" id="esMensual" required="required" class="validate"> 
      <option value="" disabled selected>¿Este Vencimiento es Mensual?</option>
      <option value="0">SI</option>
      <option value="1">NO</option>
    </select>
</div>  
</div>
<div class="log row"></div>
    <div class="log row">

          <div class="input-field">
    <textarea id="textarea1" name="descripcion" type="text" class="materialize-textarea validate"></textarea>
          <label for="textarea1" center>Descripción</label>
          </div>
        </div>

      <div class="boton center">
         <div class="botn row">
      <button class="btn waves-effect waves-light center" type="submit" name="action">Agregar</button>
  <button class="btn waves-effect waves-light center" type="reset" name="action">Borrar</button></div>
 
  </div>
</form>
          			</div><div class="borde"></div>
          	</div> 
          	<div class="col s12 m3 l4"></div>
      
	</div>
  <script>
    $(document).ready(function(){
    $('.datepicker').pickadate({
    monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
    weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
    weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
    weekdaysLetter: [ 'D', 'L', 'M', 'M', 'J', 'V', 'S' ],
    selectMonths: true,
    selectYears: 100, // Puedes cambiarlo para mostrar más o menos años
    today: 'Hoy',
    clear: 'Limpiar',
    close: 'Ok',
    closeOnSelect: true,
    labelMonthNext: 'Siguiente mes',
    labelMonthPrev: 'Mes anterior',
    labelMonthSelect: 'Selecciona un mes',
    labelYearSelect: 'Selecciona un año',
    format: 'yyyy-mm-dd',
   onClose: function() {
        valid();
    }
     });
  });


        </script>
        <script>    $('#textarea1').val(' ');
  M.textareaAutoResize($('#textarea1'));</script>
  {% endblock %}