{% extends "ejemplo.html" %} 
 {% block content %}
	<link rel="stylesheet" href="{{ STATIC_URL}}css/factura.css">
	
	<div class="contenido row" style="background-image: url({{ STATIC_URL}}img/fondo.jpg); background-size:100%100%; margin: 0px; ">
		
     
    <div class="col s12 m2 l3"></div>
        <div class="card col s12 m8 l6 z-depth-5" style="padding-right: 0px;
	padding-left: 0px;">
        	<div class="card-content z-depth-5">
        		<span class="card-title">Caja Consorcio</span> 
        	</div>
            		<div class="card-action z-depth-5">
        
            			 <table class="responsive-table">
        <thead>
          <tr>
              <th>Tipo de Caja</th>
              <th>Monto</th>
              <th>Banco</th>
              <th>Numero de Cuenta</th>
              <th>Moneda</th>

          </tr>
        </thead>

        <tbody>
         {% for dato in cajascon %}
          <tr>
			{% if dato.tipoDeCaja = 1 %}  
			<td> Cuenta Bancaria </td>
			{% endif %}
			{% if dato.tipoDeCaja = 2 %}  
			<td> Cheques </td>
			{% endif %}
			{% if dato.tipoDeCaja = 3 %}  
			<td> Efectivo </td>
			{% endif %}
			<td>${{dato.montoActual}}</td>
			
			<!-- Para Mostrar en caso de que no sea BANCARIA -->
			{% if dato.tipoDeCaja != 1 %}  
			<td> -----</td>
			{% else %}
			<td>{{dato.banco}}</td>
			{% endif %}
			{% if dato.tipoDeCaja != 1 %}  
			<td> -----</td>
			{% else %}
			<td>{{dato.nroCuenta}}</td>
			{% endif %}
			
			<td>{{dato.moneda}}</td>
          </tr>
         {% endfor %}
        </tbody>
      </table>


          			</div><div class="borde"></div>
          	</div> 
          	<div class="col s12 m2 l3"></div>
      
	</div>
	
 {% endblock %}