{% extends "ejemplo.html" %} 
 {% block content %}
 <link rel="stylesheet" href="{{ STATIC_URL}}css/modempleados.css">
	<div class="contenido row" style="background-image: url({{ STATIC_URL}}img/fondo.jpg); background-size:100%100%; margin: 0px; ">
		
     
    <div class="col s12 m2 l2"></div>
        <div class="card col s12 m8 l8 z-depth-5" style="padding-right: 0px;
	padding-left: 0px;">
        	<div class="card-content z-depth-5">
        		<span class="card-title">Modificar Empleado</span> 
        	</div>
            		<div class="card-action z-depth-5">
            			<form method="post" class="form">{% csrf_token %}
						<div class="row">
       <div class="input-field col s3">
          <input id="dni" name="dni" type="number" class="validate" data-length="8"  value="{{empleado.dni}}">
          <label for="dni" center>DNI</label>
        </div>

          <div class="input-field col s3">
          <input id="nombre" name="nombre" type="text" class="validate"  value="{{empleado.nombre}}">
          <label for="nombre" center>Nombre</label>
        </div>
     
          <div class="input-field col s3">
          <input id="apellido" name="apellido" type="text" class="validate"  value="{{empleado.apellido}}">
          <label for="apellido" center>Apellido</label>
        </div>

     <div class="input-field col s3">
          <input id="cuil" name="cuil" type="number" class="validate"  value="{{empleado.cuil}}">
          <label for="cuil" center>CUIL</label>
        </div>
        
      </div> 
     
	
        <div class="input-field col s3">
          <input id="nacionalidad" name="nacionalidad" type="text" class="validate"  value="{{empleado.nacionalidad}}">
          <label for="nacionalidad" center>Nacionalidad</label>
        </div>
        <div class="input-field col s6">
          <input id="email" name="email" type="email" class="validate"  value="{{empleado.email}}">
          <label for="email" center>Email</label>
        </div>
        <div class="input-field col s3">
          <input id="telFijo" name="telFijo" type="number" class="validate" value="{{empleado.telFijo}}">
          <label for="telFijo" center>Telefono Fijo</label>
        </div>
     
          
     
   <div class="input-field col s3">
          <input id="celular" name="celular" type="number" class="validate"  value="{{empleado.celular}}">
          <label for="celular" center>Celular</label>
        </div>      
  <div class="input-field col s3">
          <input id="fechaNacimiento" name="fechaNacimiento" type="date" class="validate"  value="{{empleado.fechaNacimiento|date:'Y-m-d'}}">
          <label for="fechaNacimiento" center>Fecha de Nacimiento</label>
        </div>
        <div class="input-field col s3">
          <input id="fechaIngreso" name="fechaIngreso" type="date" class="validate"  value="{{empleado.ingreso|date:'Y-m-d'}}">
          <label for="fechaIngreso" center>Fecha de Ingreso</label>
        </div>
		<div class="log row">
      <div class="input-field col s3">
          <input id="localidad" name="localidad" type="text" class="validate"  value="{{empleado.localidad}}">
          <label for="localidad" center>Localidad</label>
        </div>
          <div class="input-field col s6">
          <input id="direccion" name="direccion" type="text" class="validate"  value="{{empleado.direccion}}">
          <label for="direccion" center>Direccion</label>
        </div>
        <div class="input-field col s3">
          <input id="funcion" name="funcion" type="text" class="validate"  value="{{empleado.funcion}}">
          <label for="funcion" center>Funcion</label>
        </div>
   <div class="input-field col s3">
          <input id="categoria" name="categoria" type="text" class="validate"  value="{{empleado.categoriaFuncion}}">
          <label for="categoria" center>Categoria</label>
        </div>
        
         <div class="input-field col s4">
    <select name="estadocivil" id="estadocivil" required="required" class="validate"> 
      <option value="" disabled selected>Estado Civil</option>
	  {% if empleado.estadoCivil != "Soltero" %}
      <option value="Soltero">Soltero/a</option>
	  {% endif %}
	  {% if empleado.estadoCivil != "Concubinato" %}
      <option value="Concubinato">Concubinato</option>
	  {% endif %}
	  {% if empleado.estadoCivil != "Casado" %}
      <option value="Casado">Casado/a</option>
	  {% endif %}
	  {% if empleado.estadoCivil != "Divorciado" %}
      <option value="Divorciado">Divorciado/a</option>
	  {% endif %}
	  {% if empleado.estadoCivil != "Viudo" %}
      <option value="Viudo">Viudo/a</option>
	 {% endif %}
	  <option selected="selected" value="{{empleado.estadoCivil}}">{{empleado.estadoCivil}}</option>
    </select>
</div>  
     <div class="input-field col s4">
    <select name="estudios" id="estudios" required="required" class="validate"> 
      <option value="" disabled selected>Estudios</option>
	  {% if empleado.estudios != "Sin Estudios" %}
      <option value="Sin Estudios">Sin Estudios</option>
	  {% endif %}
	  {% if empleado.estudios != "Primario Completo" %}
      <option value="Primario Completo">Primario Completo</option>
	  {% endif %}
	  {% if empleado.estudios != "Secundario Completo" %}
      <option value="Secundario Completo">Secundario Completo</option>
	  {% endif %}
	  {% if empleado.estudios != "Secundario Incompleto" %}
      <option value="Secundario Incompleto">Secundario Incompleto</option>
	  {% endif %}
	  {% if empleado.estudios != "Terciario Completo" %}
      <option value="Terciario Completo">Terciario Completo</option>
	  {% endif %}
	  {% if empleado.estudios != "Terciario Incompleto" %}
      <option value="Terciario Incompleto">Terciario Incompleto</option>
	  {% endif %}
	  {% if empleado.estudios != "Universitario Completo" %}
      <option value="Universitario Completo">Universitario Completo</option>
	  {% endif %}
	  {% if empleado.estudios != "Universitario Incompleto" %}
      <option value="Universitario Incompleto">Universitario Incompleto</option>
	  {% endif %}
	  <option selected="selected" value="{{empleado.estudios}}">{{empleado.estudios}}</option>
    </select>
</div> 

          <div class="input-field col s4">
          <input id="cp" name="cp" type="text" class="validate"  value="{{empleado.cp}}" data-length="8">
          <label for="cp" center>Codigo Postal</label>
        </div>
      </div> 
<div class="log row">
    <div class="log row"></div> 
          <div class="input-field">
             <textarea id="textarea1" name="observaciones" type="text" class="materialize-textarea validate" value="empleado.observaciones"></textarea>
          <label for="textarea1">Observaciones</label>
        </div>
      </div> 
 
    <div class="input-field col s5">
      <select name="dato" id="dato" required="required" class="validate">
      <option value="" disabled selected>¿Desea modificar mas Datos del Empleado?</option>
      <option value="1">Si</option>
      <option value="2">No</option>
    
    </select>
  </div>    
  <div class="datoemp" id="datoemp" style="display: none;">
        <div class="log row">
    <div class="input-field col s3">
    <select name="valor" id="valor" required="required" class="validate"> 
      <option value="" disabled selected>¿Pertenece a?</option>
      <option value="1">Administracion</option>
      <option value="2">Consorcio</option>
    </select>
</div>
<div class="con" id="con" style="display: none;">

            <div class="input-field col s4">
          <input id="consorcio" name="consorcio" type="text" class="validate" required>
          <label for="consorcio" center>Numero de Consorcio</label>
        </div>
 
  </div>
  </div>
  
         

     
 
         <div class="log row">

        <div class="input-field col s3">
    <select name="trabajaSemana" id="trabajaSemana" required="required" class="validate"> 
      <option value="" disabled selected>¿Trabaja en la Semana?</option>
      <option value="0">Si</option>
      <option value="1">No</option>
    </select>
</div> 
<div class="hsem" style="display: none;">
        <div class="input-field col s3">
          <input id="horarioInicio" name="horarioInicio" type="time" class="validate" >
          <label for="horarioInicio" center>Horario Inicio</label>
        </div>
        <div class="input-field col s3">
          <input id="horarioFin" name="horarioFin" type="time" class="validate" >
          <label for="horarioFin" center>Horario Fin</label>
        </div>
        <div class="input-field col s3">
    <select name="horarioAdicional" id="horarioAdicional"  class="validate"> 
      <option value="" disabled selected>¿Tiene un Horario Adicinal en la Semana?</option>
      <option value="0">Si</option>
      <option value="1">No</option>
    </select>
</div>
</div>  
<div class="has" style="display: none;">
  <div class="input-field col s4">
          <input id="horarioAdicionalSemanalInicio" name="horarioAdicionalSemanalInicio" type="time" class="validate" >
          <label for="horarioAdicionalSemanalInicio" center>Horario Adicional Semanal Inicio</label>
        </div>
        <div class="input-field col s4">
          <input id="horarioAdicionalSemanalFin" name="horarioAdicionalSemanalFin" type="time" class="validate" >
          <label for="horarioAdicionalSemanalFin" center>Horario Adicional Semanal Fin</label>
        </div>
</div>
<div class="input-field col s4">
    <select name="trabajaFinde" id="trabajaFinde" required="required" class="validate"> 
      <option value="" disabled selected>¿Trabaja el/los dia/s?</option>
      <option value="0">Sabado</option>
      <option value="1">Domingo</option>
      <option value="2">Sabado y Domingo</option>
      <option value="3">No trabaja Sabado y Domingo</option>
    </select>
</div> 
<div class="hs" style="display: none;">
  <div class="input-field col s4">
          <input id="horarioSabadoInicio" name="horarioSabadoInicio" type="time" class="validate" >
          <label for="horarioSabadoInicio" center>Horario Sabado Inicio</label>
        </div>
        <div class="input-field col s4">
          <input id="horarioSabadoFin" name="horarioSabadoFin" type="time" class="validate" >
          <label for="horarioSabadoFin" center>Horario Sabado Fin</label>
        </div>
        <div class="input-field col s4">
    <select name="horarioAdicionalSabado" id="horarioAdicionalSabado"  class="validate"> 
      <option value="" disabled selected>¿Tiene un Horario Adicional los Sabados?</option>
      <option value="0">Si</option>
      <option value="1">No</option>
    </select>
</div>
<div class="hasa" style="display: none;">
  <div class="input-field col s4">
          <input id="horarioAdicionalSabadoInicio" name="horarioAdicionalSabadoInicio" type="time" class="validate" >
          <label for="horarioAdicionalSabadoInicio" center>Horario Adicional Sabado Inicio</label>
        </div>
        <div class="input-field col s4">
          <input id="horarioAdicionalSabadoFin" name="horarioAdicionalSabadoFin" type="time" class="validate" >
          <label for="horarioAdicionalSabadoFin" center>Horario Adicional Sabado Fin</label>
        </div>
</div> 
</div>
<div class="hd" style="display: none;">
  <div class="input-field col s4">
          <input id="horarioDomingoInicio" name="horarioDomingoInicio" type="time" class="validate" >
          <label for="horarioDomingoInicio" center>Horario Domingo Inicio</label>
        </div>
        <div class="input-field col s4">
          <input id="horarioDomingoFin" name="horarioDomingoFin" type="time" class="validate" >
          <label for="horarioDomingoFin" center>Horario Domingo Fin</label>
        </div>
          <div class="input-field col s4">
    <select name="horarioAdicionalDomingo" id="horarioAdicionalDomingo"  class="validate"> 
      <option value="" disabled selected>¿Tiene un Horario Adicional los Domingos?</option>
      <option value="0">Si</option>
      <option value="1">No</option>
    </select>
</div>
<div class="had" style="display: none;">
  <div class="input-field col s4">
          <input id="horarioAdicionalDomingoInicio" name="horarioAdicionalDomingoInicio" type="time" class="validate" >
          <label for="horarioAdicionalDomingoInicio" center>Horario Adicional Domingo Inicio</label>
        </div>
        <div class="input-field col s4">
          <input id="horarioAdicionalDomingoFin" name="horarioAdicionalDomingoFin" type="time" class="validate" >
          <label for="horarioAdicionalDomingoFin" center>Horario Adicional Domingo Fin</label>
        </div>
</div> 
</div>
  <div class="input-field col s4">
    <select name="horarioFeriado" id="horarioFeriado" required="required" class="validate"> 
      <option value="" disabled selected>¿Trabaja los Feriados?</option>
      <option value="0">Si</option>
      <option value="1">No</option>
    </select>
</div>
<div class="hf" style="display: none;">
  <div class="input-field col s4">
          <input id="horarioFeriadoInicio" name="horarioFeriadoInicio" type="time" class="validate" >
          <label for="horarioFeriadoInicio" center>Horario Feriado Inicio</label>
        </div>
        <div class="input-field col s4">
          <input id="horarioFeriadoFin" name="horarioFeriadoFin" type="time" class="validate" >
          <label for="horarioFeriadoFin" center>Horario Feriado Fin</label>
        </div>
          <div class="input-field col s4">
    <select name="horarioAdicionalFeriado" id="horarioAdicionalFeriado"  class="validate"> 
      <option value="" disabled selected>¿Tiene un Horario Adicional los Feriados?</option>
      <option value="0">Si</option>
      <option value="1">No</option>
    </select>
</div>
<div class="haf" style="display: none;">
  <div class="input-field col s4">
          <input id="horarioAdicionalFeriadoInicio" name="horarioAdicionalFeriadoInicio" type="time" class="validate" >
          <label for="horarioAdicionalFeriadoInicio" center>Horario Adicional Feriado Inicio</label>
        </div>
        <div class="input-field col s4">
          <input id="horarioAdicionalFeriadoFin" name="horarioAdicionalFeriadoFin" type="time" class="validate" >
          <label for="horarioAdicionalFeriadoFin" center>Horario Adicional Feriado Fin</label>
        </div>
</div> 
</div>

</div>

	  </div> 


<div class="row"></div>

      <div class="boton center">
         <div class="botn row">
      <button class="btn waves-effect waves-light center" id="agregar" type="submit" name="action">Modificar</button>
  <button class="btn waves-effect waves-light center" type="reset" name="action">Borrar</button></div>
  </div>
</form>
          			</div><div class="borde"></div>
          	</div> 
          	<div class="col s12 m2 l2"></div>
      
	</div>
  <script> 
  $('#textarea1').val(' ');
  M.textareaAutoResize($('#textarea1'));
   </script>
	<script>  document.addEventListener('DOMContentLoaded', function() {
    var elem = document.querySelectorAll('.timepicker');
    var instance = M.Timepicker.init(elem, option);
  });

  // Or with jQuery




  $(document).ready(function(){
    $('.timepicker').pickatime({
    clear: 'Borrar',
    twelvehour: true, // change to 12 hour AM/PM clock from 24 hour
    donetext: 'OK',
    autoclose: true,
    vibrate: true // vibrate the device when dragging clock hand
});
  });</script>

<script>


  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });

  // Or with jQuery
  $(document).ready(function(){
    $('.datepicker').pickadate({
    monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
    weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
    weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
    weekdaysLetter: [ 'D', 'L', 'M', 'M', 'J', 'V', 'S' ],
    selectMonths: true,
    selectYears: 100, // Puedes cambiarlo para mostrar más o menos años
    today: 'Hoy',
    clear: 'Limpiar',
    close: 'Ok',
    closeOnSelect: true,
    labelMonthNext: 'Siguiente mes',
    labelMonthPrev: 'Mes anterior',
    labelMonthSelect: 'Selecciona un mes',
    labelYearSelect: 'Selecciona un año',
    format: 'yyyy-mm-dd',
   onClose: function() {
        valid();
    }
     });
  });
  
   //valido select nulo
    $("select[required]").css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute'});


 $('#dato').change(function() {
    
    if($('#dato').val() == '1'){
      $(".datoemp").show();
    };
    if($('#dato').val() == '2'){
      $(".datoemp").hide();
	  document.getElementById("valor").required = false;
	  document.getElementById("consorcio").required = false;
      document.getElementById("nombre").required = false;
      document.getElementById("apellido").required = false;
      document.getElementById("cuil").required = false;
      document.getElementById("nacionalidad").required = false; 
      document.getElementById("email").required = false;
      document.getElementById("telFijo").required = false;
      document.getElementById("celular").required = false;
	  document.getElementById("fechaNacimiento").required = false;
	  document.getElementById("fechaIngreso").required = false;
	  document.getElementById("trabajaSemana").required = false;
	  document.getElementById("trabajaFinde").required = false;
	  document.getElementById("horarioFeriado").required = false;
      document.getElementById("localidad").required = false;
      document.getElementById("direccion").required = false;
	  document.getElementById("funcion").required = false;
	  document.getElementById("categoria").required = false; 
	  document.getElementById("estadocivil").required = false;
	  document.getElementById("estudios").required = false;
      document.getElementById("cp").required = false;
      
    };
    });

//validacion horario feriado
$('#horarioFeriado').change(function() {
    
    if ($('#horarioFeriado').val() == 1)
    {
        $(".hf").hide();
        document.getElementById("horarioFeriadoInicio").required = false;
        document.getElementById("horarioFeriadoFin").required = false;
        document.getElementById("horarioAdicionalFeriadoInicio").required = false;
        document.getElementById("horarioAdicionalFeriadoFin").required = false;
    };
    
    if ($('#horarioFeriado').val() == 0)
    {
        $(".hf").show();
       
    };
    
});

$('#valores').change(function() {
    
    if($('#valores').val() == '1'){
      $(".datoid").show();
    };
    if($('#valores').val() == '2'){
      $(".datoid").hide();
      document.getElementById("dni").required = false;
    };
    });
	
	
//validacion horario adicional domingo
 $('#horarioAdicionalFeriado').change(function() {
    
    if ($('#horarioAdicionalFeriado').val() == 1)
    {
        $(".haf").hide();
        document.getElementById("horarioAdicionalFeriadoInicio").required = false;
        document.getElementById("horarioAdicionalFeriadoFin").required = false;
        
    };
    
    if ($('#horarioAdicionalFeriado').val() == 0)
    {
        $(".haf").show();
       
    };
    
});

//validacion horario semanal
$('#trabajaSemana').change(function() {
    
    if ($('#trabajaSemana').val() == 1)
    {
        $(".hsem").hide();
        document.getElementById("horarioInicio").required = false;
        document.getElementById("horarioFin").required = false;
        document.getElementById("horarioAdicionalSemanalInicio").required = false;
        document.getElementById("horarioAdicionalSemanalFin").required = false;
        document.getElementById("horarioAdicional").required = false;
        
    };
    
    if ($('#trabajaSemana').val() == 0)
    {
        $(".hsem").show();
       
    };
    
});
//validacion horario adicional domingo
 $('#horarioAdicionalDomingo').change(function() {
    
    if ($('#horarioAdicionalDomingo').val() == 1)
    {
        $(".had").hide();
        document.getElementById("horarioAdicionalDomingoInicio").required = false;
        document.getElementById("horarioAdicionalDomingoFin").required = false;
        
    };
    
    if ($('#horarioAdicionalDomingo').val() == 0)
    {
        $(".had").show();
       
    };
    
});
//validacion horario adicional sabado
$('#horarioAdicionalSabado').change(function() {
    
    if ($('#horarioAdicionalSabado').val() == 1)
    {
        $(".hasa").hide();
        document.getElementById("horarioAdicionalSabadoInicio").required = false;
        document.getElementById("horarioAdicionalSabadoFin").required = false;
        
    };
    
    if ($('#horarioAdicionalSabado').val() == 0)
    {
        $(".hasa").show();
       
    };
    
});
 //Validacion de si trabaja sabado, domingo o ambos
 $('#trabajaFinde').change(function() {
    
    if ($('#trabajaFinde').val() == 1)
    {
        $(".hd").show();
        $(".hs").hide();
        document.getElementById("horarioSabadoInicio").required = false;
        document.getElementById("horarioSabadoFin").required = false;
        document.getElementById("horarioAdicionalSabadoInicio").required = false;
        document.getElementById("horarioAdicionalSabadoFin").required = false;
        document.getElementById("horarioAdicionalSabado").required = false;
        document.getElementById("horarioAdicionalSemanalInicio").required = false;
        document.getElementById("horarioAdicionalSemanalFin").required = false;
        
    };
    
    if ($('#trabajaFinde').val() == 0)
    {
        $(".hs").show();
        $(".hd").hide();
        document.getElementById("horarioDomingoInicio").required = false;
        document.getElementById("horarioDomingoFin").required = false;
        document.getElementById("horarioAdicionalDomingoInicio").required = false;
        document.getElementById("horarioAdicionalDomingoFin").required = false;
        document.getElementById("horarioAdicionalDomingo").required = false;
        document.getElementById("horarioAdicionalSemanalInicio").required = false;
        document.getElementById("horarioAdicionalSemanalFin").required = false;
       
    };

    if ($('#trabajaFinde').val() == 2)
    {
        $(".hd").show();
        $(".hs").show();
        document.getElementById("horarioAdicionalSemanalInicio").required = false;
        document.getElementById("horarioAdicionalSemanalFin").required = false;
        
    };
     if ($('#trabajaFinde').val() == 3)
    {
        $(".hs").hide();
        $(".hd").hide();
        document.getElementById("horarioDomingoInicio").required = false;
        document.getElementById("horarioDomingoFin").required = false;
        document.getElementById("horarioSabadoInicio").required = false;
        document.getElementById("horarioSabadoFin").required = false;
        document.getElementById("horarioAdicionalSabadoInicio").required = false;
        document.getElementById("horarioAdicionalSabadoFin").required = false;
        document.getElementById("horarioAdicionalDomingoInicio").required = false;
        document.getElementById("horarioAdicionalDomingoFin").required = false;
        document.getElementById("horarioAdicionalSemanalInicio").required = false;
        document.getElementById("horarioAdicionalSemanalFin").required = false;
    };
    
});
//validacion horario adicional semanal
$('#horarioAdicional').change(function() {
    
    if ($('#horarioAdicional').val() == 1)
    {
        $(".has").hide();
        document.getElementById("horarioAdicionalSemanalInicio").required = false;
        document.getElementById("horarioAdicionalSemanalFin").required = false;
        
    };
    
    if ($('#horarioAdicional').val() == 0)
    {
        $(".has").show();
       
    };
    
});

 //validacion para donde trabaja
  $('#valor').change(function() {
    
    if ($('#valor').val() == 1)
    {
        $(".con").hide();
        document.getElementById("consorcio").required = false;
    };
    
    if ($('#valor').val() == 2)
    {
        $(".con").show();
       
    };
    
});</script>

 {% endblock %}