{% extends "ejemplo.html" %} 
 {% block content %}
	<link rel="stylesheet" href="{{ STATIC_URL}}css/factura.css">
	
	<div class="contenido row" style="background-image: url({{ STATIC_URL}}img/fondo.jpg); background-size:100%100%; margin: 0px; ">
		
     
    <div class="col s12 m2 l1"></div>
        <div class="card col s12 m8 l10 z-depth-5" style="padding-right: 0px;
	padding-left: 0px;">
        	<div class="card-content z-depth-5">
        		<span class="card-title">Vencimientos</span> 
        	</div>
            		<div class="card-action z-depth-5">
        
		
							        <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3"><a class="active" href="#test-swipe-1">Datos Principales</a></li>
    <li class="tab col s3"><a href="#test-swipe-2">Observaciones </a></li>
  </ul>
        
		
		 <div id="test-swipe-1" class=""> 
   <div class="row"> 
    <table class="responsive-table">
        <thead>
          <tr>
           	  <th>Nro</th>
              <th>Nombre</th>
			  <th>Fecha de Vencimiento </th>
			  <th>Es Mensual</th>
          </tr>
        </thead>

        <tbody>
{% for dato in alertas %}
          <tr>
			<!-- PARA ALERTAS QUE VENCEN HOY, le pongo el VENCE HOY y para mostrarlas -->
			{% if dato.fechaVencimiento = dato.fechaVencimiento.today %}  
				<td>{{dato.id}}---¡VENCE HOY!---</td>   
				<td>{{dato.nombre}}</td>    
				<td>{{dato.fechaVencimiento |date:'d-m-Y'}}</td>
				{% if dato.esMensual == True %} 
					<td> Si </td>
					{% else %}
					<td> No </td>
				{% endif %}
			{% endif %}
			
			<!-- PARA mostrar las alertas que esten por vencer que sean mayores a HOY -->
			{% if dato.fechaVencimiento > dato.fechaVencimiento.today %}  
				<td>{{dato.id}}</td>   
				<td>{{dato.nombre}}</td>    
				<td>{{dato.fechaVencimiento |date:'d-m-Y'}}</td>
				{% if dato.esMensual == True %} 
					<td> Si </td>
					{% else %}
					<td> No </td>
				{% endif %}
			{% endif %}
          </tr>
		  
         {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
	
	
  <div id="test-swipe-2" class="">
   <div class="row"> 
    <table class="responsive-table">
        <thead>
          <tr>
		  <th>Nro</th>
              <th>Descripcion</th>
				
          </tr>
        </thead>

        <tbody>
   {% for dato in alertas %}
          <tr>
            {% if dato.fechaVencimiento = dato.fechaVencimiento.today %}  
				<td>{{dato.id}}---¡VENCE HOY!---</td> 
            <td>{{dato.descripcion}}</td>
			{% endif %}
          </tr>
         {% endfor %}
        </tbody>
      </table>
 </div></div>
		
		
	
	  



          			</div><div class="borde"></div>
          	</div> 
          	<div class="col s12 m2 l1"></div>
      
	</div>
	
 {% endblock %}