{% extends "ejemplo.html" %} 
 {% block content %}
 <link rel="stylesheet" href="{{ STATIC_URL}}css/factura.css">
	<div class="contenido row" style="background-image: url({{ STATIC_URL}}img/fondo.jpg); background-size:100%100%; margin: 0px; ">
		
     
    <div class="col s12 m4 l4"></div>
        <div class="card col s12 m4 l4 z-depth-5" style="padding-right: 0px;
	padding-left: 0px;">
        	<div class="card-content z-depth-5">
        		<span class="card-title">Mostrar Empleados</span> 
        	</div>
            		<div class="card-action z-depth-5">
            			<form method="post" class="form">{% csrf_token %}
        <div class="log row">            
        <div class="input-field">
    <select name="dato" id="dato" required="required" class="validate"> 
      <option value="" disabled selected>Empleados</option>
      <option value="1">Especifico</option>
      <option value="2">Todos</option>
    </select>
</div>
</div>
<div class="esp" id="esp" style="display: none;">
        <div class="log row">
    <div class="input-field">
    <select name="valor" id="valor" required="required" class="validate"> 
      <option value="" disabled selected>¿Pertenece a?</option>
      <option value="1">Administracion</option>
      <option value="2">Consorcio</option>
    </select>
</div>
</div>
<div class="con" id="con" style="display: none;">
  <div class="log row">
            <div class="input-field">
          <input id="consorcio" name="consorcio" type="text" class="validate" required>
          <label for="consorcio" center>Consorcio</label>
        </div>
  </div>
  </div>
  </div>
  
         
       





      <div class="boton center">
         <div class="botn row">
      <button class="btn waves-effect waves-light center" id="agregar" type="submit" name="action">Mostrar</button>
  <button class="btn waves-effect waves-light center" type="reset" name="action">Borrar</button></div>
  </div>
</form>
          			</div><div class="borde"></div>
          	</div> 
          	<div class="col s12 m4 l4"></div>
      
	</div>
	

<script>
  //valido select nulo
    $("select[required]").css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute'});

  $('#dato').change(function() {
    
    if ($('#dato').val() == 2)
    {
        $(".esp").hide();
        document.getElementById("consorcio").required = false;
        document.getElementById("valor").required = false;
    };
    
    if ($('#dato').val() == 1)
    {
        $(".esp").show();
       
    };});



  $('#valor').change(function() {
    
    if ($('#valor').val() == 1)
    {
        $(".con").hide();
        document.getElementById("consorcio").required = false;
    };
    
    if ($('#valor').val() == 2)
    {
        $(".con").show();
       
    };
    
});</script>

 {% endblock %}